.container-fluid{
    width: 100%;
}


header{
    background: white;
    border-bottom: 1px solid #d9dadc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1000;
}

header .title{
    position: relative;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
    color: #212529;
    animation-name: viewLeft;
    animation-duration: 0.5s ;
}
header .title h2{
    color: #212529;
}

header ul{
    position: relative;
    display: flex;
    animation-name: viewRight;
    animation-duration: 0.5s ;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration:none;
    user-select: none;
    color: #313031;
    transition: all 0.2s;
}
header ul li a:hover{
    color: #6d6d6d;
    border-bottom: 1px solid  #e979d6
}
header .toggle {
    display: none;
}

main{
    top: 10rem;
    margin: 3% 20%;
    position: relative;
    padding: 0 0 10rem 0;
    align-items: center;
    display: flex;
    overflow: hidden;
}
main .text{
    animation-name: viewLeft;
    animation-duration: 3s ;
} 
main .text  h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 700;
}
main .text h2.api{
    color: rgb(253, 151, 166);
    
}
main .text p{
    font-size: 1.2em;    
}

main .img{
    animation-name: viewRight;
    animation-duration: 3s ;
}
main .img img{    
    width: 700px;
    filter: grayscale(0.9) drop-shadow(5px 6px 10px pink);
    transform: translateX(140px);
    transform: translateX(100px);
    
}

.content{
    position: relative;
    
      
    margin: 3% 20%;    
    
}
section[id]{
    scroll-margin-top: 10rem;
}
section{
    margin: 3% 20%;
    animation-name: view;
    animation-duration: 2.5s;
    padding: 0 0 3rem 0;
}
section h3{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
section p{
    margin: 2em 0;
    font-size: 1.1em;
    text-align: inherit;
    line-height: 2em;
}

section ul{
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}
section ul.data_list{
    list-style:inside
}
section ul.data_list h4{
    border-bottom: 1px solid #d9dadc;
    
    padding: 0 0 10px 0;
}
li samp{
    background: #212529;
    padding: 0rem 0.75rem;
    margin: 0 1rem 0 0;    
    border-radius: 5%;
    color: #fff;
}

li code {
    font-size: medium;
}

.code-area{
    background: #fceef0;
    padding: 1rem;
}
.code-area code{
    color: #212529;
    font-size: medium;
}

footer{
    margin: 3% 20%;
    text-align: center;
    border-top: 1px solid #d9dadc;
    padding: 40px 100px 20px;
    font-size: 1.2em;    
}

@media(max-width:995px){
    .container-fluid{
        padding: 150px 20px;
    }
    header{
        padding: 20px;
    }
    header ul{
        display: none;
    }
    header .navegation.view{
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation: none;
    }
    header ul li{
        margin: 10px 0;
        font-size: 1.5rem;
    }
    header li a{
        margin-left: 0;
    }
    header .toggle{
        display: block;
        position: fixed;
        top: 27px;
        font-size: 1.5rem;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1000;
    }    
    main{
        width: 90%;
        top: 0;
        margin: 0;
        padding: 0 0 2rem 0;
    }    
    .content{
        margin: 0;
    }
    footer{
        margin: 0;
    }
}
@media (max-width:768px){        
    section{

        margin: 3% 10%;
    }
}
@media (max-width:463px){    
    section {
        margin: 3% 5%;
    } 
}

@media (max-width: 450px){
    .content{
        display:none
    }
}

@media (max-width: 1150px){
    main .img{
        display: none;    
    }
}


