.container-fluid{
    width: 100%;
}
.container-fluid .title{
    border-bottom: 1px solid #d9dadc;
    padding: 25px 0 10px;
    margin-bottom: 30px;
    text-align: center;
}
.title a{
    text-decoration: none;
    color: #212529;
}

main{
    margin: 11rem 0;
}

main .text{
    animation-name: viewLeft;
    animation-duration: 3s ;
    width: 80%;
    margin: auto;
} 

main .text p{
    font-size: 1.2em;    
}
main .text h6{
    margin: 2rem 0;
    font-weight: 800;
}                                                               
main .text a{
    
    padding: 0.2rem 0.5rem;
    background: lightcoral;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

main .img{
    animation-name: viewRight;
    animation-duration: 3s ;
    position: absolute;
    right: 100px;
    top: 6rem;
}
main .img img{    
    width: 700px;    
    transform: translateX(140px);
    transform: translateX(100px);
    filter: opacity(0.3) grayscale(1);
    
}


footer{
    margin: 3% 20%;
    text-align: center;
    border-top: 1px solid #d9dadc;
    padding: 40px 100px 20px;
    font-size: 1.2em;    
}
  

@media(max-width:995px){
    .img{
        right: 0;
        bottom: 130px;
        opacity: 0.25;
    }
}

@media(max-width:600px){
    .container-fluid {
        width: 597px;
        overflow: hidden;
        position: relative;
    }
    .img{
    opacity: 0.2;
    right: -100px !important;
    }

    }
